Repository EthVM/EthVM, pull requests merged in 2018-08, with the labels that each got.

#36 Upgraded dependencies
  apps/ethvm/package.json
  apps/ethvm/yarn.lock
Labels: project:ethvm

#35 Common VSCode formatting settings
  .vscode/settings.json
Labels: priority:medium, project:ethvm

#39 changed actions to fix the live refresh issue
  apps/ethvm/src/states/actions.ts
Labels: project:ethvm

#40 Formatting improvements
  apps/ethvm/src/App.vue
  apps/ethvm/src/components/blocks/footer/footer.vue
  apps/ethvm/src/components/blocks/largeBlocks/addressDetail.vue
  apps/ethvm/src/components/blocks/largeBlocks/addressTx.vue
  apps/ethvm/src/components/blocks/largeBlocks/addressTxTable.vue
  apps/ethvm/src/components/blocks/largeBlocks/blockDetail.vue
  apps/ethvm/src/components/blocks/largeBlocks/blockTokenDetail.vue
  apps/ethvm/src/components/blocks/largeBlocks/lastTransactions.vue
  apps/ethvm/src/components/blocks/largeBlocks/latestBlocks.vue
  apps/ethvm/src/components/blocks/largeBlocks/pendingTxs.vue
  apps/ethvm/src/components/blocks/largeBlocks/tokenTracker.vue
  apps/ethvm/src/components/blocks/largeBlocks/txDetail.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/LineChartPendingTx.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/accountsCreated.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveBlockSize.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveBlockTime.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveGasLimit.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveGasPrice.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveTxFees.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/barchartlast10blockstx.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/difficultyHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/failedTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/hashRateHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/lastTenBlocksTx.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/linechartavetxfees.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/miningRewardHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/sucessfullTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/topMiners.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/totalTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/difficulty.vue
  apps/ethvm/src/components/blocks/smallBlocks/failedTxSmallBlock.vue
  apps/ethvm/src/components/blocks/smallBlocks/pendingTxSmallBlock.vue
  apps/ethvm/src/components/blocks/smallBlocks/search.vue
  apps/ethvm/src/components/blocks/smallBlocks/successfulTxSmallBlock.vue
  apps/ethvm/src/components/frames/about.vue
  apps/ethvm/src/components/frames/blockDetail.vue
  apps/ethvm/src/components/frames/blocks.vue
  apps/ethvm/src/components/frames/charts.vue
  apps/ethvm/src/components/frames/home.vue
  apps/ethvm/src/components/frames/pendingTxs.vue
  apps/ethvm/src/components/frames/tokenDetail.vue
  apps/ethvm/src/components/frames/transactions.vue
Labels: enhancement, priority:low, project:ethvm

#38 Monkeycli
  bin/README.md
  bin/monkey-cli.ts
Labels: enhancement, priority:medium, project:all

#52 Remove duplicated datatypes in models definitions
  apps/ethvm/src/components/blocks/largeBlocks/addressTxTable.vue
  apps/ethvm/src/components/blocks/largeBlocks/blockDetail.vue
  apps/ethvm/src/components/blocks/largeBlocks/lastTransactions.vue
  apps/ethvm/src/components/blocks/largeBlocks/latestBlocks.vue
  apps/ethvm/src/components/blocks/largeBlocks/pendingTxs.vue
  apps/ethvm/src/components/blocks/largeBlocks/txDetail.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveBlockTime.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/aveGasPrice.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/barchartlast10blockstx.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/difficultyHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/failedTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/hashRateHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/lastTenBlocksTx.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/linechartavetxfees.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/miningRewardHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/sucessfullTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/charts/totalTxHistory.vue
  apps/ethvm/src/components/blocks/smallBlocks/lastBlock.vue
  apps/ethvm/src/components/frames/blockDetail.vue
  apps/ethvm/src/components/frames/txDetail.vue
  apps/ethvm/src/libs/Block.ts
  apps/ethvm/src/libs/Tx.ts
  apps/ethvm/src/libs/blockProcessor.ts
  apps/ethvm/src/typeLayouts/blockLayout.ts
  apps/ethvm/src/typeLayouts/txLayout.ts
  apps/server/src/server/core/payloads/BlockTxsPayload.ts
  apps/server/src/server/core/validation/ajv-validators.spec.ts
  apps/server/src/server/core/validation/ajv-validators.ts
  apps/server/src/server/modules/blocks/block.entities.ts
  apps/server/src/server/modules/blocks/block.repository.ts
  apps/server/src/server/modules/blocks/blocks.service.ts
  apps/server/src/server/modules/blocks/mappers.ts
  apps/server/src/server/modules/txs/txs.repository.ts
  apps/server/src/server/modules/txs/txs.service.ts
Labels: enhancement, priority:medium, project:all

#27 Feature: Address QR
  .gitignore
  apps/ethvm/package.json
  apps/ethvm/src/assets/logo-white.png
  apps/ethvm/src/components/blocks/header/header.vue
  apps/ethvm/src/components/blocks/header/mobileMenu.vue
  apps/ethvm/src/components/blocks/largeBlocks/addressDetail.vue
  apps/ethvm/src/components/frames/address.vue
  apps/ethvm/src/css/less/sunil/blocks/header/header.less
  apps/ethvm/src/css/less/sunil/blocks/header/mobileMenu.less
  apps/ethvm/src/css/less/sunil/blocks/largeBlocks/addressDetail.less
  apps/ethvm/src/css/less/sunil/blocks/smallBlocks/search.less
  apps/ethvm/src/css/less/sunil/frames/address.less
  apps/ethvm/src/css/less/sunil/global.less
  apps/ethvm/src/css/less/sunil/globalVars.less
  apps/ethvm/src/main.ts
  apps/ethvm/src/translations/en_US.json
  apps/ethvm/yarn.lock
  docker-compose.yaml
Labels: priority:medium, project:ethvm
