Repository EthVM/EthVM, pull requests merged in 2019-03, with the labels that each got.

#408 Add optional start block to parity source
  apps/processing/kafka-connect/src/main/kotlin/io/enkrypt/kafka/connect/sources/web3/ParitySourceConnector.kt
  apps/processing/kafka-connect/src/main/kotlin/io/enkrypt/kafka/connect/sources/web3/ParitySourceTask.kt
Labels: enhancement, project:processing

#405 Enhancement/live update message
  apps/explorer/public/favicon.ico
  apps/explorer/public/index.html
  apps/explorer/src/core/components/layout/TheFooter.vue
  apps/explorer/src/core/components/ui/AppLiveUpdate.vue
  apps/explorer/src/core/components/ui/AppPaginate.vue
  apps/explorer/src/main.ts
  apps/explorer/src/modules/blocks/components/TableBlocks.vue
  apps/explorer/src/modules/blocks/pages/PageBlocks.vue
  apps/explorer/src/modules/txs/components/TableTxs.vue
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/modules/txs/pages/PageTxs.vue
  apps/explorer/src/translations/en_US.json
  docker-compose.yaml
  tsconfig.json
Labels: enhancement, milestone:1, priority:high, project:explorer

#416 Enhancements/ui fix
  apps/explorer/src/core/components/layout/TheFooter.vue
  apps/explorer/src/core/components/mixins/mixin-number-string-concat.ts
  apps/explorer/src/core/components/props/index.ts
  apps/explorer/src/core/components/ui/AppBreadCrumbs.vue
  apps/explorer/src/core/components/ui/AppCardStatsGroup.vue
  apps/explorer/src/core/components/ui/AppDetailsListRow.vue
  apps/explorer/src/core/components/ui/AppFootnotes.vue
  apps/explorer/src/core/components/ui/AppListDetails.vue
  apps/explorer/src/core/components/ui/AppListTitle.vue
  apps/explorer/src/core/components/ui/AppLiveUpdate.vue
  apps/explorer/src/core/components/ui/AppSocialLink.vue
  apps/explorer/src/modules/addresses/components/AddressDetail.vue
  apps/explorer/src/modules/addresses/components/TableAddressTokens.vue
  apps/explorer/src/modules/addresses/components/TableAddressTxs.vue
  apps/explorer/src/modules/addresses/pages/PageDetailsAddress.vue
  apps/explorer/src/modules/blocks/components/TableBlocks.vue
  apps/explorer/src/modules/blocks/pages/PageBlocks.vue
  apps/explorer/src/modules/blocks/pages/PageDetailsBlock.vue
  apps/explorer/src/modules/charts/components/Chart.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTx.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTxFees.vue
  apps/explorer/src/modules/charts/mixins/mixin-chart.ts
  apps/explorer/src/modules/charts/pages/PageCharts.vue
  apps/explorer/src/modules/charts/pages/PageDetailsChart.vue
  apps/explorer/src/modules/charts/props/index.ts
  apps/explorer/src/modules/home/pages/PageHome.vue
  apps/explorer/src/modules/other/pages/PageAbout.vue
  apps/explorer/src/modules/other/pages/PageKnowledgeBase.vue
  apps/explorer/src/modules/other/pages/PagePrivacyPolicy.vue
  apps/explorer/src/modules/pending-txs/pages/PagePendingTxs.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsList.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsTabs.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsList.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsTabs.vue
  apps/explorer/src/modules/tokens/pages/PageDetailsToken.vue
  apps/explorer/src/modules/tokens/pages/PageTokens.vue
  apps/explorer/src/modules/tokens/props/index.ts
  apps/explorer/src/modules/txs/components/TableTxs.vue
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/modules/txs/pages/PageTxs.vue
  apps/explorer/src/modules/uncles/components/TableUncles.vue
  apps/explorer/src/modules/uncles/pages/PageDetailsUncle.vue
  apps/explorer/src/modules/uncles/pages/PageUncles.vue
  tsconfig.json
Labels: enhancement, milestone:1, priority:medium, project:explorer

#418 Enhancement/txs details
  apps/explorer/src/core/components/props/index.ts
  apps/explorer/src/core/components/ui/AppCopyToClip.vue
  apps/explorer/src/core/components/ui/AppDetailsList.vue
  apps/explorer/src/core/components/ui/AppDetailsListRow.vue
  apps/explorer/src/core/models/Tx.ts
  apps/explorer/src/modules/txs/helpers/signatures.json
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/translations/en_US.json
Labels: enhancement, milestone:1, priority:medium, project:explorer

#429 New Crowdin translations
  apps/explorer/src/translations/es_ES.json
  apps/explorer/src/translations/ko_KR.json
  apps/explorer/src/translations/ru_RU.json
  apps/explorer/src/translations/zh_CN.json
Labels: enhancement, project:explorer

#435 Feature/sentry
  apps/explorer/.env
  apps/explorer/.env.development
  apps/explorer/.env.production
  apps/explorer/.env.staging
  apps/explorer/package.json
  apps/explorer/src/main.ts
  apps/explorer/src/modules/App.vue
Labels: enhancement, project:explorer

#437 Bug/i18n live update
  apps/explorer/src/core/components/ui/AppLanguage.vue
  apps/explorer/src/core/components/ui/AppLiveUpdate.vue
  apps/explorer/src/translations/ru_RU.json
Labels: bug, project:explorer
