Repository EthVM/EthVM, pull requests merged in 2019-02, with the labels that each got.

#389 Feature/block metrics
  .travis.yml
  apps/processing/avro/src/main/avro/capture.avdl
  apps/processing/common/src/main/kotlin/io/enkrypt/common/extensions/AvroExt.kt
  apps/processing/kafka-connect/src/main/kotlin/io/enkrypt/kafka/connect/sources/web3/BlockData.kt
  apps/processing/kafka-streams/src/main/kotlin/io/enkrypt/kafka/streams/processors/block/BlockMetrics.kt
Labels: enhancement, milestone:1, project:processing

#369 Enhancements/Token Table Design
  apps/api/src/server/core/validation/ajv-validators.ts
  apps/api/src/server/events/get-token-exchange-rates.ts
  apps/api/src/server/events/get-total-number-of-token-exchange-rates.ts
  apps/api/src/server/modules/exchanges/exchange.repository.ts
  apps/api/src/server/modules/exchanges/exchange.service.ts
  apps/common/build/src/socket/events.d.ts
  apps/common/build/src/socket/events.js
  apps/common/src/socket/events.ts
  apps/explorer/src/assets/down.png
  apps/explorer/src/assets/no-data.png
  apps/explorer/src/assets/up.png
  apps/explorer/src/core/api/EthvmApi.ts
  apps/explorer/src/core/api/EthvmSocketIoApi.ts
  apps/explorer/src/core/components/mixins/mixin-number-string-concat.ts
  apps/explorer/src/core/components/ui/AppDetailsList.vue
  apps/explorer/src/main.ts
  apps/explorer/src/modules/tokens/components/TableTokens.vue
  apps/explorer/src/modules/tokens/components/TokenFilter.vue
  apps/explorer/src/modules/tokens/components/TokenTable.vue
  apps/explorer/src/modules/tokens/components/TokenTableRow.vue
  apps/explorer/src/modules/tokens/components/TokenTableRowLoading.vue
  apps/explorer/src/modules/tokens/pages/PageTokens.vue
  apps/explorer/src/modules/tokens/props/index.ts
  apps/explorer/src/translations/en_US.json
Labels: enhancement, milestone:1, priority:high, project:explorer

#396 Bug/Search
  apps/explorer/package.json
  apps/explorer/src/core/components/ui/AppCopyToClip.vue
  apps/explorer/src/core/components/ui/AppSearch.vue
Labels: bug, enhancement, milestone:1
