Repository EthVM/EthVM, pull requests merged in 2019-04, with the labels that each got.

#438 Feature/mobile ui
  apps/explorer/src/assets/graph-icon.png
  apps/explorer/src/assets/icon-copy.png
  apps/explorer/src/assets/icon-qr.png
  apps/explorer/src/assets/uncle.png
  apps/explorer/src/core/components/layout/TheNavigationDrawer.vue
  apps/explorer/src/core/components/props/index.ts
  apps/explorer/src/core/components/ui/AppBreadCrumbs.vue
  apps/explorer/src/core/components/ui/AppCopyToClip.vue
  apps/explorer/src/core/components/ui/AppDetailsList.vue
  apps/explorer/src/core/components/ui/AppDetailsListRow.vue
  apps/explorer/src/core/components/ui/AppFootnotes.vue
  apps/explorer/src/core/components/ui/AppHashConcat.vue
  apps/explorer/src/core/components/ui/AppTabs.vue
  apps/explorer/src/core/helper/eth.ts
  apps/explorer/src/modules/addresses/components/AddressDetail.vue
  apps/explorer/src/modules/addresses/components/AddressQr.vue
  apps/explorer/src/modules/addresses/components/Blockies.vue
  apps/explorer/src/modules/addresses/components/TableAddressTxRow.vue
  apps/explorer/src/modules/addresses/components/TableAddressTxs.vue
  apps/explorer/src/modules/addresses/pages/PageDetailsAddress.vue
  apps/explorer/src/modules/blocks/components/BlockDetailsTitle.vue
  apps/explorer/src/modules/blocks/components/TableBlocks.vue
  apps/explorer/src/modules/blocks/components/TableBlocksRow.vue
  apps/explorer/src/modules/blocks/pages/PageDetailsBlock.vue
  apps/explorer/src/modules/charts/components/Chart.vue
  apps/explorer/src/modules/charts/components/ChartLink.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTxs.vue
  apps/explorer/src/modules/charts/mixins/mixin-chart.ts
  apps/explorer/src/modules/charts/pages/PageCharts.vue
  apps/explorer/src/modules/home/pages/PageHome.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsTabs.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsTabs.vue
  apps/explorer/src/modules/tokens/components/TokenTableHolders.vue
  apps/explorer/src/modules/tokens/pages/PageDetailsToken.vue
  apps/explorer/src/modules/txs/components/TableTxs.vue
  apps/explorer/src/modules/txs/components/TableTxsRow.vue
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/modules/uncles/components/TableUnclesRow.vue
  apps/explorer/src/modules/uncles/pages/PageDetailsUncle.vue
  apps/explorer/src/translations/en_US.json
  apps/explorer/src/translations/ru_RU.json
Labels: enhancement, priority:medium, project:explorer

#445 Added template strings
  apps/explorer/src/core/components/layout/TheFooter.vue
  apps/explorer/src/core/components/layout/TheNavigationDrawer.vue
  apps/explorer/src/core/components/mixins/mixin-number-string-concat.ts
  apps/explorer/src/core/components/ui/AppGreeting.vue
  apps/explorer/src/core/components/ui/AppLiveUpdate.vue
  apps/explorer/src/core/components/ui/AppTabs.vue
  apps/explorer/src/modules/addresses/components/TableAddressTxRow.vue
  apps/explorer/src/modules/blocks/components/BlockDetailsTitle.vue
  apps/explorer/src/modules/blocks/components/TableBlocksRow.vue
  apps/explorer/src/modules/blocks/pages/PageDetailsBlock.vue
  apps/explorer/src/modules/charts/components/ChartLink.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTxFees.vue
  apps/explorer/src/modules/charts/mixins/mixin-chart.ts
  apps/explorer/src/modules/charts/pages/PageDetailsChart.vue
  apps/explorer/src/modules/other/pages/PageKnowledgeBase.vue
  apps/explorer/src/modules/other/pages/PagePrivacyPolicy.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsList.vue
  apps/explorer/src/modules/tokens/components/HolderTableTransfers.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsList.vue
  apps/explorer/src/modules/tokens/components/TokenTableRow.vue
  apps/explorer/src/modules/tokens/components/TokenTableTransfers.vue
  apps/explorer/src/modules/txs/components/TableTxsRow.vue
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/modules/uncles/components/TableUnclesRow.vue
  apps/explorer/src/modules/uncles/pages/PageDetailsUncle.vue
  apps/explorer/src/translations/ru_RU.json
Labels: enhancement, project:explorer

#447 Enhancement/mobile uncles table
  apps/explorer/src/main.ts
  apps/explorer/src/modules/uncles/components/TableUncles.vue
  apps/explorer/src/modules/uncles/components/TableUnclesRow.vue
Labels: enhancement, project:explorer

#458 #457 - Added tokensMetadata Query. Returns Array of ERC20 and ERC721 …
  apps/api/src/graphql/schema.ts
  apps/api/src/modules/tokens/dto/token-metadata.dto.ts
  apps/api/src/modules/tokens/token.graphql
  apps/api/src/modules/tokens/token.module.ts
  apps/api/src/modules/tokens/token.resolvers.ts
  apps/api/src/modules/tokens/token.service.ts
  apps/api/src/orm/entities/contract-metadata.entity.ts
  apps/api/src/orm/entities/erc20-metadata.entity.ts
  apps/api/src/orm/entities/erc721-metadata.entity.ts
Labels: enhancement, project:api

#453 (feat): Explorer build optimization
  apps/explorer/package.json
  apps/explorer/src/core/api/apollo/EthvmApolloApi.ts
  apps/explorer/src/core/components/ui/AppDetailsListRow.vue
  apps/explorer/src/core/components/ui/AppFootnotes.vue
  apps/explorer/src/core/components/ui/AppLanguage.vue
  apps/explorer/src/core/components/ui/AppLiveUpdate.vue
  apps/explorer/src/core/components/ui/AppPaginate.vue
  apps/explorer/src/core/components/ui/AppTimeAgo.vue
  apps/explorer/src/core/components/ui/AppTransformHash.vue
  apps/explorer/src/core/router/index.ts
  apps/explorer/src/css/global.css
  apps/explorer/src/main.ts
  apps/explorer/src/modules/App.vue
  apps/explorer/src/modules/addresses/components/AddressDetail.vue
  apps/explorer/src/modules/addresses/components/AddressQr.vue
  apps/explorer/src/modules/addresses/components/TableAddressContractsRow.vue
  apps/explorer/src/modules/addresses/components/TableAddressTokens.vue
  apps/explorer/src/modules/addresses/components/TableAddressTxRow.vue
  apps/explorer/src/modules/addresses/pages/PageDetailsAddress.vue
  apps/explorer/src/modules/blocks/components/BlockDetailsTitle.vue
  apps/explorer/src/modules/blocks/components/TableBlocks.vue
  apps/explorer/src/modules/blocks/components/TableBlocksRow.vue
  apps/explorer/src/modules/blocks/pages/PageBlocks.vue
  apps/explorer/src/modules/blocks/pages/PageDetailsBlock.vue
  apps/explorer/src/modules/charts/components/Chart.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTxFees.vue
  apps/explorer/src/modules/charts/components/live/ChartLiveTxs.vue
  apps/explorer/src/modules/charts/mixins/mixin-chart.ts
  apps/explorer/src/modules/charts/pages/PageCharts.vue
  apps/explorer/src/modules/charts/pages/PageDetailsChart.vue
  apps/explorer/src/modules/home/pages/PageHome.vue
  apps/explorer/src/modules/other/pages/PageKnowledgeBase.vue
  apps/explorer/src/modules/pending-txs/pages/PagePendingTxs.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsList.vue
  apps/explorer/src/modules/tokens/components/HolderDetailsTabs.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsList.vue
  apps/explorer/src/modules/tokens/components/TokenDetailsTabs.vue
  apps/explorer/src/modules/tokens/components/TokenTable.vue
  apps/explorer/src/modules/tokens/pages/PageDetailsToken.vue
  apps/explorer/src/modules/tokens/pages/PageTokens.vue
  apps/explorer/src/modules/txs/components/TableTxs.vue
  apps/explorer/src/modules/txs/components/TableTxsRow.vue
  apps/explorer/src/modules/txs/helpers/signatures.json
  apps/explorer/src/modules/txs/pages/PageDetailsTxs.vue
  apps/explorer/src/modules/txs/pages/PageTxs.vue
  apps/explorer/src/modules/uncles/components/TableUncles.vue
  apps/explorer/src/modules/uncles/components/TableUnclesRow.vue
  apps/explorer/src/modules/uncles/pages/PageDetailsUncle.vue
  apps/explorer/src/modules/uncles/pages/PageUncles.vue
  apps/explorer/src/translations/index.ts
  apps/explorer/vue.config.js
  apps/explorer/yarn.lock
  yarn.lock
Labels: enhancement, project:explorer
